/TorchButton.ncb
/TorchButton.suo

/TorchButton/TorchButton.aps
/TorchButtonBlink/TorchButtonBlink.aps
/TorchButtonBright/TorchButtonBright.aps
/TorchButtonPTT/TorchButtonPTT.aps
/TorchButtonSOS/TorchButtonSOS.aps